{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Entscheidung des Käufers  (Runde {{ subsession.round_number }} von {{ Constants.num_rounds }}))
{% endblock %}

{% block content %}

 <p>In der folgenden Tabelle können Sie die einzelnen Angebote mit der entsprechenden privaten Bewertung sehen.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Angebot</th>
                <th scope="col">Wert</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ihre ID: </td>
                <td>{{ player.id_in_group }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Private Bewertung für die Angebote</b></td>
            </tr>
            {% for pac, val in pac_val.items %}
            <tr>
                <td> {{pac.1}}</td>
                <td>{{ val }} ECU</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Auf dieser Seite können Sie die vollständige Liste der Angebote mit ihren jeweiligen Preisen sehen. Denken Sie daran:
        Um ein Angebot kaufen zu können, muss der Preis niedriger oder genau so hoch sein wie der private Wert,
        en Sie für das Angebot erhalten haben ansonsten wird die Transaktion storniert.</p>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Verkäufer ID</th>
                <th scope="col">Angebot</th>
            </tr>
        </thead>
        <tbody>
{%for p in group.get_players %}
    {% if p.role == "seller" %}
            <tr>
                <td>Verkäufer {{p.id_in_group}}</td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">{{p.get_seller_package_display}}</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{p.ask_price_fin}} </h5>
                            <br>
                            <button name = "my_seller" value = {{p.id_in_group}} class = "btn btn-primary btn-large">Buy</button>
                        </div>
                    </div>
                </td>
    {% endif %}
{% endfor %}
        </tbody>
        </table>

    <p>Sobald Sie auf die Schaltfläche “Kaufen” drücken, wird ihre Bezahlung für diese Handelsrunde berechnet.</p>


{% endblock %}
