{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.role == "seller" %}
       Entscheidung des Verkäufers (Runde {{ subsession.round_number }} von {{ Constants.num_rounds }})
    {% else %}
        Entscheidung des Käufers (Runde {{ subsession.round_number }} von {{ Constants.num_rounds }})
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.role == "seller" %}
    <p>Ihnen wurde die Rolle des Verkäufers zugewiesen, die Sie während der 5 Verhandlungsrunden behalten werden.
        Sie können pro Runde nur ein Pauschalangebot verkaufen.
        Der Computer wird Ihnen zufällig eines der 5 verfügbaren Angebote für den Verkauf auf dem Markt zuteilen.
        Denken Sie daran, dass andere Verkäufer möglicherweise dasselbe Angebote verkaufen wie Sie.
        Zusätzlich wird Ihnen ein "Wert" für dieses Angebot zugeteilt.
        Dieser Wert entspricht den Kosten, die Ihnen entstehen, wenn Sie eine Transaktion abschließen..</p>

    <p>Diese Kosten sind privat, das heißt, nur Sie kennen die Summe. Weder die Verkäufer noch die Käufer kennen den Wert.
        Insgesamt gibt es 5 touristische Pauschalangebote, die sich nur durch die Destination unterscheiden:
        Berlin, Madrid, Wien, Paris und Rom. Sie erhalten nur eines von diesen sowie die entstehenden Kosten..</p>

    <p>Sie müssen für das Angebot, das Ihnen zugeteilt wurde, einen Preis festlegen.
        Der Preis muss über den Kosten für das Angebot liegen. Ihr Verdienst wird aufgrund der Differenz zwischen dem von Ihnen festgelegtem Preis und den Kosten des Angebots errechnet.
        Wenn Sie keine Transaktion abschließen entstehen Ihnen keine Kosten, Sie generieren aber auch keinen Profit.
        Ein Beispiel: Nehmen wir an, Sie haben eine Chance, das besagte Angebot zu erhalten und Sie verdienen die Differenz, wenn es Ihnen gelingt, es zu verkaufen.
        Wenn die Kosten 50 ECU beträgt und es Ihnen gelingt, das Angebot für 70 ECU zu verkaufen, beträgt Ihr Profit 20 ECU plus (plus der Startkapital von {{ Constants.endowment }} ECU) .
        Wenn Sie das Angebot nicht verkaufen, beträgt Ihr Profit 0 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU)) , d. h. Sie haben keine Kosten und erhalten kein Einkommen.
    </p>

    <p>Lassen Sie uns ein anderes Beispiel ansehen:</p>

    <p>Nehmen wir an, die Kosten Ihres Angebots belaufen sich auf 30 ECU und es gelingt Ihnen, das Angebot für einen Preis von 50 ECU zu verkaufen.
        Sie verdienen dann 50 ECU - 30 ECU = 20 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU)).
        Wenn es Ihnen nicht gelingt, eine Transaktion abzuschließen, generieren Sie weder Kosten noch Profit, d. h. Ihr Profit betrögt 0 ECU.
        (plus der Startkapital  von {{ Constants.endowment }} ECU)).
    </p>

    <p>Hierbei ist wichtig, dass zwei Käufer dasselbe Angebot wählen können, aber nur eine/r die Transaktion abschließen kann.
        Wer sich als Erster entscheidet, das Angebot zu kaufen, schließt die Transaktion mit Ihnen ab.</p>

    <p>Zusätzlich können Sie eine Handelspraxis wählen, um Ihr Angebot für den Markt attraktiver zu machen:
        Es gibt drei Handelspraktiken, und wenn Sie diese auswählen, werden Sie dem Käufer zum Zeitpunkt des Abschließens der Transaktion angezeigt.
        Berücksichtigen Sie aber, dass diese Handelspraktiken jeweils wahrheitsgemäß oder wahrheitswidrig verwendet werden können.</p>

    <p>Bitte klicken Sie auf die Schaltfläche „Weiter“, um das Angebot, das Sie verkaufen werden, und dessen Kosten zu sehen</p>


    {% else %}
    <p>Ihnen wurde die Rolle des Käufers zugewiesen, die Sie während der 5 Verhandlungsrunden behalten werden.
        Sie können pro Runde nur ein Pauschalangebot kaufen.
        Der Computer wird Ihnen einen "Wert" für jedes Angebot zuteilen, das auf dem Markt zum Verkauf steht.
        Dieser Wert steht für den Wert, den Sie dem Angebot zuteilen, wenn Sie kurz vor dem Abschluss einer Transaktion stehen.
        Insgesamt gibt es 5 touristische Pauschalangebote, die sich nur durch die Destination unterscheiden:
        Berlin, Madrid, Wien, Paris und Rom. Sie erhalten nur fünf Werte, einen für jedes Angebot.</p>

    <p>Diese Werte sind privat, das heißt, nur Sie kennen die Summe. Weder die Käufer noch die Verkäufer kennen den Wert.</p>

    <p>Ihnen wird eine Liste aller Angebote auf dem Markt und die jeweiligen Preise angezeigt.
        Um eine Transaktion abzuschließen müssen Sie ein, und wirklich nur ein, Angebot auf dem Markt auswählen.
        Ihr Verdienst wird aufgrund der Differenz zwischen Ihrem ausgewählten Wert und dem Preis, zu dem Sie dieses Angebot gekauft haben, errechnet.
        Wenn Sie keine Transaktion abschließen, machen Sie keinen Profit (plus der Startkapital  von {{ Constants.endowment }} ECU).</p>

    <p>Ein Beispiel: Nehmen wir an, Sie haben die Möglichkeit, jedes der besagten Angebote weiterzuverkaufen, und wenn
        Sie eines bekommen, verdienen Sie die Differenz. Der Wert ist die Summe, die Sie erhalten würden, wenn Sie das
        Angebot weiterverkaufen. Wenn der Wert 70 ECU beträgt und es Ihnen gelingt, das Angebot für 50 ECU zu kaufen, beträgt Ihr Profit 20 ECU
        (plus der Startkapital von {{ Constants.endowment }} ECU).
        Wenn es Ihnen nicht gelingt, das Angebot zu kaufen, beträgt Ihr Profit 0 ECU ,
        d. h. Sie bezahlen nichts und erhalten kein Einkommen (außer dem Startkapital von {{ Constants.endowment }} ECU).</p>

    <p>Lassen Sie uns ein anderes Beispiel ansehen:</p>

    <p>Nehmen wir an, der Wert des Angebots, das Sie kaufen möchten, beträgt 50 ECU und es gelingt Ihnen, das Angebot zu einem Preis
        von 30 ECU zu kaufen. Sie verdienen dann 50 ECU - 30 ECU = 20 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU).
        Wenn es Ihnen nicht gelingt, eine Transaktion abzuschließen, haben Sie weder Kosten noch Profit, d. h.
        Ihr Profit beträgt 0 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU).</p>

    <p>
    Hierbei ist wichtig, dass zwei Käufer dasselbe Angebot wählen können, aber nur eine/r die Transaktion abschließen kann.
        Wer sich als Erster entscheidet, das Angebot zu kaufen, schließt die Transaktion ab.
    </p>


    <p>Bitte klicken Sie auf die Schaltfläche „Weiter“, um die vollständige Liste an
        Angeboten und Preisen auf dem Markt zu sehen und den finalen Preis des Angebots zu definieren, das Sie verkaufen.</p>
    {% endif %}
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Weiter</button>

{% endblock %}