{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   ERSTER TEIL
{% endblock %}

{% block content %}

    <p>In diesem Teil gibt es einen Markt für Pauschalangebote für Touristen. Es gibt insgesamt 5 Verhandlungsrunden.
        Vor Beginn der ersten Verhandlungsrunde lost der Computer Ihnen eine von zwei Rollen zu:
        Käufer/in oder Verkäufer/in. Die Rolle, der Sie zugeordnet wurden, bleibt in allen 5 Verhandlungsrunden die gleiche.</p>

    <p>Ziel des Markts ist, dass Käufer und Verkäufer in jeder Verhandlungsrunde verhandeln und potenziell die Transaktion erfolgreich abschließen können.
        Die Ergebnisse der Transaktionen beeinflussen Ihre finale Zahlung.</p>

    <p>
    In diesem Markt ist jedes Gut ein touristisches Pauschalangebot. Insgesamt gibt es 5 Pauschalangebote,
        die sich nur durch die Destination unterscheiden: Berlin, Madrid, Wien, Paris und Rom.
    </p>

    <p>In jeder der Verhandlungsrunden bestimmen die Verkäufer zuerst einen Preis für die Pauschalangebote,
        die sie verkaufen, und anschließend sehen die Käufer eine Liste der auf dem Markt verfügbaren
        Angebote und die Preise dieser Pauschalangebote. Um eine Transaktion abzuschließen müssen die Käufer ihr bevorzugtes
        Angebot auswählen und es kaufen.
        Berücksichtigen Sie hier: Wenn zwei Käufer dasselbe Angebot aussuchen, kann nur die/der Schnellste die Transaktion abschließen.</p>

    <p>Zu Beginn haben sowohl Verkäufer als auch Käufer ein Startkapital von {{Constants.endowment}} ECU (Experimentelle Währungseinheit) in
        jeder Verhandlungsrunde, um ihre Entscheidung zu treffen.

    </p>

    <p>Drücken Sie bitte auf die Schaltfläche "Weiter", um die erste Verhandlungsrunde zu starten.</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Weiter</button>

{% endblock %}
