{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Entscheidung des Verkäufers (Runde {{ subsession.round_number }} von {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <table class="table table-bordered">

        <tbody>
        <tr>
                <td>Ihre Verkäufer-ID:</td>
                <td> {{player.id_in_group}} </td>
        </tr>
            <tr>
                <td>Das Angebot, das Sie verkaufen:</td>
                <td> {{player.get_seller_package_display}} </td>
            </tr>
            <tr>
                <td>Kosten dieses Angebots: </td>
                <td> {{player.seller_valuation |c}}</td>
            </tr>
            <tr>
                <td>Bitte geben Sie den Preis, zu dem Sie dieses Angebot verkaufen wollen, in das folgende Kästchen ein: <br>
                Denken Sie daran, dass Sie das Angebot zu einem Preis verkaufen müssen, der die Kosten übersteigt, um Profit zu machen.</td>
                <td><div class = "form-inline"> {{ form.ask_price_ini}} &nbsp; ECU</div></td>
            </tr>
            <tr>
                <td>Möchten Sie die vollständige Liste an Angeboten auf dem Markt sehen, einschließlich der Preise? <br>
                    Diese Aktion kostet {{Constants.see_list_cost}} ECU der Ihnen von Ihrem Startkapital abgezogen wird. </td>
                <td>{{ form.see_list }}</td>

            </tr>
        </tbody>
    </table>


    <p>Bitte klicken Sie auf die Schaltfläche „Weiter“,
        um die vollständige Liste an Angeboten und Preisen auf dem Markt zu sehen und den finalen Preis des Angebots zu definieren,
        das Sie verkaufen.</p>

    {% next_button %}
{% endblock %}
