{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    SUMMARY
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" colspan="2">Ergebnisse</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Der Computer hat zufällig eine für die Zahlung ausgewählt und Ihre Profit war:</td>
                <td>{{ paying_round }}</td>
            </tr>
            <tr>
                <td>Ihre Payff (including the initial endowment of {{ endowment }} ECU) is:</td>
                <td>{{ payoff_final }}</td>
            </tr>
        </tbody>
    </table>

    <p>
    Klicken Sie bitte auf die Schaltfläche „Weiter“, um mit dem zweiten Teil dieser Aktivität fortzufahre
    </p>

    {% next_button %}
{% endblock %}



{% endblock %}

