{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Umfrage
{% endblock %}

{% block content %}

    <p>
         Wir danken Sie für ihnen Teilnahme in dieser Forshung.
    </p>
    <p>
    Während wir seine Bezahlung vorbereiten, bitte antworten Sie die folgenden Fragen. Wir werden Sie anrufen, um Sie zu bezahlen.

    </p>
    <p>
    Drücken Sie bitte auf die Schaltfläche "Weiter", um die Umfrage zu starten.
    </p>

    {% next_button %}

{% endblock %}

{% block styles  %}
{% endblock %}
