{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    EINWILLIGUNGSERKLÄRUNG
{% endblock %}

{% block content %}

    <p>Sie wurden zu der Teilnahme an dieser Aktivität eingeladen, um zu verstehen, wie Menschen Entscheidungen treffen.
        Die Studie wird von Open Evidence S.A. durchgeführt. Sie müssen mindestens 18 Jahre alt sein, um teilnehmen zu können.</p>

    <p>Wenn Sie der Teilnahme zustimmen, werden Sie eine Reihe von Entscheidungen treffen und müssen einige Fragen beantworten.
        Eine Teilnahme an dieser Aktivität nimmt maximal eine Stunde Ihrer Zeit in Anspruch.
        Mit der Teilnahme an dieser Aktivität ist kein Risiko verbunden.</p>

    <p>Sie werden die Möglichkeit haben, eine bestimmte Summe Geld zu verdienen. Zu Beginn starten Sie mit 30 Euro, Ihr Verdienst kann aber je nach Ihren Entscheidungen unterschiedlich ausfallen.
        Ihr Verdienst wird Ihnen am Ende dieser Aktivität in bar ausbezahlt.</p>

    <p>Die Teilnahme ist freiwillig und Sie können jederzeit gehen. Sie erhalten aber kein Geld, wenn Sie zwischendrin abbrechen und gehen.</p>

    <p>Die Methode dieser Studie garantiert vollständige Anonymität, die bereitgestellten Informationen werden absolut vertraulich
        behandelt und nur zu statistischen Zwecken verwendet.
        Nach Fertigstellung der Aktivität werden persönliche Daten wie der Name und die Ausweisnummer aus der Datenbank entfernt.
        Alle bereitgestellten Informationen werden in Übereinstimmung mit (RELEVANTE EU-VORSCHRIFT) gehandhabt.</p>

    <p>Wenn es etwas zur Studie gibt, das der Klärung bedarf, wenn Sie Unannehmlichkeiten melden möchten oder Zweifel
        über Ihre Rechte als Teilnehmer/in dieser Aktivität oder aufgrund anderer Angelegenheiten haben,
        kontaktieren Sie uns unter (RELEVANTE KONTAKTINFORMATIONEN VON OPEN EVIDENCE).</p>

    <p>Mit Ihrer Unterschrift bestätigen Sie, dass Sie ordnungsgemäß informiert wurden und das Sie freiwillig an dieser Aktivität teilnehmen.

    </p>
    <p>
    </p>
    <p>[Ort, (Datum)]
    </p>
    <p>Vollständiger Name: {{ form.nombre }}
    </p>
    <p>Ausweisnummer: {{ form.id_number }}
    </p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Ich willige in die Teilnahme ein</button>

{% endblock %}

{% block styles  %}
{% endblock %}

