{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.role == "seller" %}
       Entscheidung des Verkäufers (Rund {{ subsession.round_number }} von {{ Constants.num_rounds }})
    {% else %}
        Entscheidung des Käufers (Rund {{ subsession.round_number }} von {{ Constants.num_rounds }})
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.role == "seller" %}
    <p>Ihnen wurde die Rolle des Verkäufers zugewiesen, die Sie während der 5 Verhandlungsrunden behalten werden.
        Sie können pro Runde nur ein Pauschalangebot verkaufen.
        Der Computer wird Ihnen zufällig eines der 5 verfügbaren Angebote für den Verkauf auf dem Markt zuteilen.
        Denken Sie daran, dass andere Verkäufer möglicherweise dasselbe Angebote verkaufen wie Sie.
        Zusätzlich wird Ihnen ein "Wert" für dieses Angebot zugeteilt.
        Dieser Wert entspricht den Kosten, die Ihnen entstehen, wenn Sie eine Transaktion abschließen..</p>

    <p>Diese Kosten sind privat, das heißt, nur Sie kennen die Summe. Weder die Verkäufer noch die Käufer kennen den Wert.
        Insgesamt gibt es 5 touristische Pauschalangebote, die sich nur durch die Destination unterscheiden:
        Berlin, Madrid, Wien, Paris und Rom. Sie erhalten nur eines von diesen sowie die entstehenden Kosten..</p>

    <p>Sie müssen für das Angebot, das Ihnen zugeteilt wurde, einen Preis festlegen.
        Der Preis muss über den Kosten für das Angebot liegen. Ihr Verdienst wird aufgrund der Differenz zwischen dem von Ihnen festgelegtem Preis und den Kosten des Angebots errechnet.
        Wenn Sie keine Transaktion abschließen entstehen Ihnen keine Kosten, Sie generieren aber auch keinen Profit.
        Ein Beispiel: Nehmen wir an, Sie haben eine Chance, das besagte Angebot zu erhalten und Sie verdienen die Differenz, wenn es Ihnen gelingt, es zu verkaufen.
        Wenn die Kosten 50 ECU beträgt und es Ihnen gelingt, das Angebot für 70 ECU zu verkaufen, beträgt Ihr Profit 20 ECU plus (plus der Startkapital von {{ Constants.endowment }} ECU) .
        Wenn Sie das Angebot nicht verkaufen, beträgt Ihr Profit 0 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU)) , d. h. Sie haben keine Kosten und erhalten kein Einkommen.
    </p>

    <p>Lassen Sie uns ein anderes Beispiel ansehen:</p>

    <p>Nehmen wir an, die Kosten Ihres Angebots belaufen sich auf 30 ECU und es gelingt Ihnen, das Angebot für einen Preis von 50 ECU zu verkaufen.
        Sie verdienen dann 50 ECU - 30 ECU = 20 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU)).
        Wenn es Ihnen nicht gelingt, eine Transaktion abzuschließen, generieren Sie weder Kosten noch Profit, d. h. Ihr Profit betrögt 0 ECU.
        (plus der Startkapital  von {{ Constants.endowment }} ECU)).
    </p>

    <p>Hierbei ist wichtig, dass zwei Käufer dasselbe Angebot wählen können, aber nur eine/r die Transaktion abschließen kann.
        Wer sich als Erster entscheidet, das Angebot zu kaufen, schließt die Transaktion mit Ihnen ab.</p>

    <p>Zusätzlich können Sie eine Handelspraxis wählen, um Ihr Angebot für den Markt attraktiver zu machen:
        Es gibt drei Handelspraktiken, und wenn Sie diese auswählen, werden Sie dem Käufer zum Zeitpunkt des Abschließens der Transaktion angezeigt.
        Berücksichtigen Sie aber, dass diese Handelspraktiken jeweils wahrheitsgemäß oder wahrheitswidrig verwendet werden können.</p>

    <p>Wir werden zwei der Verkäufer nach dem Zufallsprinzip überprüfen, die Wahrscheinlichkeit einer Überprüfung liegt somit bei 20 %.
        Wenn ein überprüfter Verkäufer eine Handelspraxis nicht wahrheitsgemäß anwendet, muss der Verkäufer 20 ECU als Strafe zahlen.
        Diese 20 ECU werden unter den Käufern aufgeteilt. </p>
    <p>Bitte klicken Sie auf die Schaltfläche „Weiter“, um das Angebot, das Sie verkaufen werden, und dessen Kosten zu sehen</p>


    {% else %}
    <p>Ihnen wurde die Rolle des Käufers zugewiesen, die Sie während der 5 Verhandlungsrunden behalten werden.
        Sie können pro Runde nur ein Pauschalangebot kaufen.
        Der Computer wird Ihnen einen "Wert" für jedes Angebot zuteilen, das auf dem Markt zum Verkauf steht.
        Dieser Wert steht für den Wert, den Sie dem Angebot zuteilen, wenn Sie kurz vor dem Abschluss einer Transaktion stehen.
        Insgesamt gibt es 5 touristische Pauschalangebote, die sich nur durch die Destination unterscheiden:
        Berlin, Madrid, Wien, Paris und Rom. Sie erhalten nur fünf Werte, einen für jedes Angebot.</p>

    <p>Diese Werte sind privat, das heißt, nur Sie kennen die Summe. Weder die Käufer noch die Verkäufer kennen den Wert.</p>

    <p>Ihnen wird eine Liste aller Angebote auf dem Markt und die jeweiligen Preise angezeigt.
        Um eine Transaktion abzuschließen müssen Sie ein, und wirklich nur ein, Angebot auf dem Markt auswählen.
        Ihr Verdienst wird aufgrund der Differenz zwischen Ihrem ausgewählten Wert und dem Preis, zu dem Sie dieses Angebot gekauft haben, errechnet.
        Wenn Sie keine Transaktion abschließen, machen Sie keinen Profit (plus der Startkapital  von {{ Constants.endowment }} ECU).</p>

    <p>Ein Beispiel: Nehmen wir an, Sie haben die Möglichkeit, jedes der besagten Angebote weiterzuverkaufen, und wenn
        Sie eines bekommen, verdienen Sie die Differenz. Der Wert ist die Summe, die Sie erhalten würden, wenn Sie das
        Angebot weiterverkaufen. Wenn der Wert 70 ECU beträgt und es Ihnen gelingt, das Angebot für 50 ECU zu kaufen, beträgt Ihr Profit 20 ECU
        (plus der Startkapital von {{ Constants.endowment }} ECU).
        Wenn es Ihnen nicht gelingt, das Angebot zu kaufen, beträgt Ihr Profit 0 ECU ,
        d. h. Sie bezahlen nichts und erhalten kein Einkommen (außer dem Startkapital von {{ Constants.endowment }} ECU).</p>

    <p>Lassen Sie uns ein anderes Beispiel ansehen:</p>

    <p>Nehmen wir an, der Wert des Angebots, das Sie kaufen möchten, beträgt 50 ECU und es gelingt Ihnen, das Angebot zu einem Preis
        von 30 ECU zu kaufen. Sie verdienen dann 50 ECU - 30 ECU = 20 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU).
        Wenn es Ihnen nicht gelingt, eine Transaktion abzuschließen, haben Sie weder Kosten noch Profit, d. h.
        Ihr Profit beträgt 0 ECU (plus der Startkapital  von {{ Constants.endowment }} ECU).</p>

    <p>
    Hierbei ist wichtig, dass zwei Käufer dasselbe Angebot wählen können, aber nur eine/r die Transaktion abschließen kann.
        Wer sich als Erster entscheidet, das Angebot zu kaufen, schließt die Transaktion ab.
    </p>

    <p>Beachten Sie zudem, dass Sie Verkäufer eine Handelspraxis wählen können, um ihre Angebot für den Markt attraktiver zu machen.
        Es gibt drei Handelspraktiken, und wenn ein Verkäufer diese nutzt, werden sie dem Käufer zum Zeitpunkt des Abschließens der Transaktion angezeigt.
        Berücksichtigen Sie aber, dass diese Handelspraktiken jeweils wahrheitsgemäß oder wahrheitswidrig verwendet werden können.</p>

    <p>Wir werden zwei der Verkäufer nach dem Zufallsprinzip überprüfen, die Wahrscheinlichkeit einer Überprüfung liegt somit bei 20 %.
        Wenn ein überprüfter Verkäufer eine Handelspraxis nicht wahrheitsgemäß verwendet, muss der Verkäufer 20 ECU als Strafe zahlen.
        Diese 20 ECU werden unter den Käufern aufgeteilt.</p>

    <p>Es gibt drei Handelspraktiken, welche die Verkäufer nutzen können, um ihr Angebot attraktiver für den Markt zu machen.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Handelspraxis</th>
                <th scope="col">Definition</th>
                <th scope="col">Beispiel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Bester-Preis-Garantie</th>
                <td>Diese Handelspraxis erlaubt es dem Verkäufer zu verkünden,
                    dass dieses Angebot, unter allen Angeboten mit derselben Destination, den niedrigsten Preis hat.</td>
                <td>Nehmen wir an, der Verkäufer bietet das Pauschalangebot nach Rom an.
                    Es mag andere Verkäufer am Markt geben, die dasselbe Angebot nach Rom verkaufen, wenn der Verkäufer sich aber
                    für diese Handelspraxis entscheidet, sagt er, dass sein Angebot von allen Pauschalangeboten nach Rom das billigste ist.</td>
            </tr>
            <tr>
                <th scope="row">Referenzpreis</th>
                <td>Diese Handelspraxis erlaubt es dem Verkäufer zu verkünden,
                    dass er, im Vergleich zum ersten Preis, den er angegeben hat und dem Endpreis, einen Rabatt anbietet.</td>
                <td>Nehmen wir an, der Verkäufer bietet das Pauschalangebot nach Rom an.
                    Er kann behaupten, dass er 60 ECU Rabatt auf den anfänglich festgesetzten Preis gewährt
                    (der Endpreis ist der, den er bestätigt hat, nachdem er entschieden haben, ob er die Preise der Mitbewerber angezeigt bekommt oder nicht).</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>Diese Handelspraxis erlaubt es dem Verkäufer, einen Preis für das Angebot anzuzeigen, der unter dem Gesamtpreis liegt, den er verlangt. Die Differenz zwischen dem aktuellen Preis und dem angezeigten Preis ist so hoch wie die Kosten, die ganze Liste der Angebote angezeigt zu bekommen (1 ECU),
                    unabhängig davon, ob sich der Verkäufer entschieden hat, diese Kosten zu zahlen oder nicht.</td>
                <td>Nehmen wir an, der Verkäufer bietet das Pauschalangebot nach Rom an und der Preis, den er festgelegt hat, beträgt 80 ECU.
                    Wenn er sich entscheidet, diese Handelspraxis zu nutzen, wird sein Angebot mit einem Preis von 79 ECU* angezeigt, mit einer Notiz, in der der Gesamtpreis angezeigt wird.</td>
        </tbody>
    </table>

    <p>Beachten Sie, dass diese Handelspraktiken wahrheitsgemäß (Fall 1) oder wahrheitswidrig (Fall 2) sein können.
        Aufbauend auf den Beispielen in der obigen Tabelle finden Sie hier die jeweilige Handelspraxis und die Beispiele für Fall 1 und Fall 2..</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Handelspraxis</th>
                <th scope="col">Fall 1 (wahrheitsgemäß)</th>
                <th scope="col">Fall 2 (wahrheitswidrig)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Bester-Preis-Garantie</th>
                <td>1) Wenn es kein anderes Angebot nach Rom gibt. 2) Wenn es mindestens ein anderes Angebot
                        nach Rom gibt und das letztere teurer ist.</td>
                <td>1) Wenn es mindestens ein anderes Angebot nach Rom gibt und das letztere billiger ist.</td>
            </tr>
            <tr>
                <th scope="row">Referenzpreis</th>
                <td>1) Verwenden des echten Rabatts.</td>
                <td>1) Verwenden des echten Rabatts zuzüglich 20 ECU.</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>1) Wenn der Verkäufer den Preis minus der Kosten zeigt, um das erste Angebot der anderen Verkäufer zu sehen.</td>
                <td>1) Wenn der Verkäufer entscheidet, die Preise der Mitbewerber nicht zu sehen, aber immer noch den Nettopreis dieser Kosten anzeigt.</td>
            </tr>
        </tbody>
    </table>

    <p>In der Tabelle unten können Sie sehen, wie Ihr Angebot in der Liste der Angebote mit jeder der Handelspraktiken aussehen würde, wenn Sie eines davon verwenden würden.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Handelspraxis</th>
                <th scope="col">Gewählt</th>
                <th scope="col">Nicht gewählt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Bester-Preis-Garantie</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rom</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rom</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <p class="card-text">Best price guaranteed</p>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Reference Pricing</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rom</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"><del> 100 ECU </del></h5>
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rom</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rom</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"> 79 ECU<a href = # data-toggle="tooltip" title = "Gesamtpreis = 79 + 1 ECU = 80 ECU " data-original-title="Default tooltip">*</a></h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Kaufen</a>
                        </div>
                    </div>
                </td>
        </tbody>
    </table>

    <p>Bitte klicken Sie auf die Schaltfläche „Weiter“, um die vollständige Liste an
        Angeboten und Preisen auf dem Markt zu sehen und den finalen Preis des Angebots zu definieren, das Sie verkaufen.</p>
    {% endif %}
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Weiter</button>

{% endblock %}